h1 {
    color: white;
    margin-left: 30px;
}

.header * {
    border: solid;
} 

.header{
    background-color: rgb(95, 112, 160);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: #b5ecaa;
}

a:link{
    color: rgb(235, 255, 122);
}

a:visited{
    color: rgb(255, 117, 117);
}





.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
} 

